<div class="glass-card table-container">
  <!-- Top Row: Filter and Action Buttons -->
  <div class="top-row">
    <!-- Filter Input -->
    <mat-form-field appearance="outline" class="filter-field">
      <mat-label>Filter</mat-label>
      <input matInput (input)="applyFilter($event)" placeholder="Type to filter">
    </mat-form-field>

    <!-- Action Buttons -->
    <div class="action-buttons">
      <button mat-raised-button color="primary" (click)="exportToExcel()">Export to Excel</button>
      <button mat-raised-button color="warn" (click)="printTable()">Print</button>
    </div>
  </div>

  <!-- Table -->
  <div class="table-Selector">
    <table mat-table [dataSource]="dataSource" matSort class="mat-elevation-z8">

      <!-- Action Column (Now placed before dynamic columns) -->
      <ng-container matColumnDef="action">
        <th mat-header-cell *matHeaderCellDef> Action </th>
        <td mat-cell *matCellDef="let row">
          <button mat-icon-button [matMenuTriggerFor]="actionMenu">
            <mat-icon>more_horizontal</mat-icon>
          </button>
          <mat-menu #actionMenu="matMenu">
            <button mat-menu-item *ngFor="let item of menuItems" (click)="handleAction(item, row)">
              <mat-icon>{{ item.icon }}</mat-icon>
              <span>{{ item.text }}</span>
            </button>
          </mat-menu>
        </td>
      </ng-container>

      <!-- Dynamic Columns (This will now be after the action column) -->
      <ng-container *ngFor="let column of dataColumns" [matColumnDef]="column">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> {{ column | titlecase }} </th>
        <td mat-cell *matCellDef="let row">
          <ng-container [ngSwitch]="getFileType(row[column])">
            <!-- Image -->
            <ng-container *ngSwitchCase="'image'">
              <img [src]="row[column]" alt="Image" class="user-pic" [matMenuTriggerFor]="pictureMenu">
              <mat-menu #pictureMenu="matMenu" class="picture-dropdown">
                <img [src]="row[column]" alt="User Picture Enlarged" class="user-pic-large">
              </mat-menu>
            </ng-container>
            <!-- Video -->
            <ng-container *ngSwitchCase="'video'">
              <video [src]="row[column]" class="user-pic"  [matMenuTriggerFor]="videoMenu"></video>
              <mat-menu #videoMenu="matMenu" class="picture-dropdown">
                <video controls [src]="row[column]" class="user-pic" class="user-pic-large"></video>
              </mat-menu>
            </ng-container>
            <!-- Audio -->
            <ng-container *ngSwitchCase="'audio'">
              <audio controls [src]="row[column]" class="user-pic"></audio>
            </ng-container>
            <!-- PDF -->
            <ng-container *ngSwitchCase="'pdf'">
              <a [href]="row[column]" target="_blank">View PDF</a>
            </ng-container>
            <!-- Default -->
            <ng-container *ngSwitchDefault>
              {{ row[column] }}
            </ng-container>
          </ng-container>
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
  </div>

  <!-- Paginator -->
  <mat-paginator [pageSizeOptions]="[5, 10, 50, 100]" showFirstLastButtons></mat-paginator>
</div>
